.logEntry {
    /*border-left: 4px solid #777;
    padding-left: 10px;*/
    margin-bottom: 4px;
}

.cheap {
    color: mediumseagreen;
}

.headerrow {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -184px;
}

.stat {
    font-size: 16px;
    padding: 8px;
    display: inline-block;
    color: #fff;
    text-shadow: #000 2px 2px 2px;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #333;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
    /* Make the masthead heading the same height as the navigation */
    .header h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
.container {
    background-color: #eee;
    border-radius: 10px;
}


@media (min-width: 320px) {


    .container {
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 800px;
    }

    .stat {
        font-size: 24px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

    .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
    }

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

    .marketing p + h4 {
        margin-top: 28px;
    }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
