
<style>
    button span {
        font-size: 11px;
    }

    .supplychain-toolbar {
        background-color: #33B5E5 !important;
    }

    .supplychain-tabs {
        background-color: #0099cc !important;
    }

    md-tabs.md-default-theme md-tabs-ink-bar {
        color: #01579B !important;
        background: #01579B !important;
    }

    .submitscorearea .md-default-theme input, md-input-group.md-default-theme textarea {
        width: 200px;
    }

    .md-tabs-content {
        height: 400px;
        overflow-y: auto;
    }

    .btnItem {
        text-transform: capitalize !important;
    }

    .bold {
        font-weight: bold;
    }

    .itemThumbnail {
        width: 32px;
        height: 32px;
        vertical-align: middle;
    }

    .itemExtended label {
        font-size: 11px;
    }

    label {
        font-weight: normal;
        color: #777;
        font-size: .6em;
        text-transform: uppercase;
    }

    .playerStat label {
        color: #000;
        font-size: 11px;
    }

    .playerStatData {
        font-size: 14px;
    }

    .sideItem {
        margin: 16px;
    }

    .cheap {
        color: seagreen;
    }

    .expensive {
        color: #ff0000;
    }

    .nostock {
        color: #cdcdcd;
    }

    .itemName {
        font-size: 14px;
    }

    .itemData {
        font-size: 14px;
    }

    .journalText {
        font-size: 12px;
    }


    .tabContent {
        background-color: white;
        /*max-height: 300px;*/
        /*overflow-y: auto;*/
    }

    .marketContent {
        /*height: 100%;*/
    }


    .container {
        max-width: 730px;
        margin: auto;
        /*max-height:90%;

        overflow-y: auto;*/
    }




    @media (min-width: 768px) {
        /*DESKTOP*/
        .container {
            max-width: 800px;
        }

        .md-tabs-content {
            height: 800px;
            overflow-y: auto;
        }

        button span {
            font-size: 14px;
        }

        .itemThumbnail {
            width: 48px;
            height: 48px;
            vertical-align: middle;
        }

        .itemName {
            font-size: 18px;
        }

        .itemData {
            font-size: 16px;
        }

        .itemExtended label {
            font-size: 14px;
        }

        .journalText {
            font-size: 16px;
        }

        .playerStatData {
            font-size: 24px;
        }
    }
</style>



<!--Welcome, New game-->
<div style="display:block;padding:20px;" data-ng-show="view=='newgame'">

    <div layout="row" layout-align="center center">
        <img src="images-static/logo.png" />
    </div>

    <div>Welcome to Supply Chain! Race against the clock to buy and sell office supply products while working your way to the top. Hit the new game button to start on your new business venture with $500 in a random city:</div>

    <div layout="row" layout-align="center center">
        <div>
            <md-radio-group ng-model="newGame.days">

                <md-radio-button value="7" aria-label="7 Day game">7 day game</md-radio-button>
                <!--<md-radio-button value="14">14 day game</md-radio-button>-->

            </md-radio-group>
            <md-button class="md-raised md-primary" data-ng-click="restart()">Launch Business &gt;&gt;</md-button>
        </div>
    </div>

</div>

<!--gameover-->
<div style="display:block;padding:20px;" data-ng-show="view=='gameover'">

    <div layout="column" layout-align="center center">
        <h4>Game Over!</h4>
        <div style="padding:20px;">
            Final Score: {{state.player.money|currency}}
        </div>


    </div>

    <div layout="row" layout-align="center center" class="submitscorearea" data-ng-show="showSubmitScore">
        <md-text-float md-class="test" label="Your Name" ng-model="highscore.name"> </md-text-float>
        <md-button class="md-raised md-primary" data-ng-click="submitscore()">Submit Score</md-button>

    </div>

    <div style="padding:20px;" layout="row" layout-align="center center">
        <md-radio-group ng-model="newGame.days">
            <md-radio-button value="7" aria-label="7 Day game">7 day game</md-radio-button>
            <!--<md-radio-button value="14">14 day game</md-radio-button>-->

        </md-radio-group>
        <div><md-button class="md-raised md-primary" data-ng-click="restart()">Try Again &gt;&gt;</md-button></div>
    </div>

</div>


<!--game play-->
<div flex data-ng-show="state.started">
    <!--Percent done-->
    <div style="height:10px;margin-top:-5px;">
        <md-progress-linear md-mode="determinate" ng-value="getPercentDone()"></md-progress-linear>
    </div>

    <!--Header bar-->
    <md-toolbar class="supplychain-toolbar">
        <div flex layout="row" layout-align="space-around">
            <div layout="column" layout-align="center center" class="playerStat">
                <label>Current City</label>
                <span>
                    <strong class="playerStatData">{{state.player.location.name}}</strong>
                </span>
            </div>

            <div layout="column" layout-align="center center" class="playerStat">
                <label>Cash On Hand</label>
                <strong style="text-transform:uppercase;" class="playerStatData">{{state.player.money|numeraljs:'$0.a'}}</strong>
            </div>


            <div layout="column" layout-align="center center" class="playerStat">
                <label>Time Left</label>
                <strong class="playerStatData">{{timeLeft()}}</strong>
            </div>
        </div>
    </md-toolbar>



    <!--tabs-->


    <md-tabs class="supplychain-tabs" md-stretch-tabs="always">
        <md-tab id="tab1" aria-controls="tab1-content" md-on-select="tabSelected('market')" md-active="view=='market'">
            <md-tab-label>Market</md-tab-label>

            <div flex class="tabContent marketContent">

                <md-list>
                    <md-item ng-repeat="item in market">
                        <md-item-content>
                            <div layout="column" layout-fill>
                                <div style="padding:6px;" layout="row">
                                    <!--Thumbnail and title-->
                                    <div flex>
                                        <md-button data-ng-click="toggleShowItem(item)" class="btnItem" md-no-ink="true">
                                            <img style="display:inline-block;" class="itemThumbnail" src="/images-static/{{item.id}}.png">
                                            <span class="itemName" data-ng-class="{'bold':canSell(item)}">{{item.name}}</span>
                                        </md-button>

                                    </div>

                                    <!--price and stats-->
                                    <div flex layout="row" layout-align="space-between center">


                                        <div flex="25" layout="column" layout-align="center center">
                                            <label>Price</label>
                                            <span class="itemData" data-ng-class="{'expensive':!canBuy(item)}">{{item.marketPrice|numeraljs:'$0.a'}}</span>
                                        </div>

                                        <div flex="25" layout="column" layout-align="center center">
                                            <label>Avg</label>
                                            <span class="itemData" data-ng-class="{'cheap':isCheap(item) && canBuy(item)}">{{item.avgPrice|numeraljs:'$0.a'}}</span>
                                        </div>

                                        <div flex="25" layout="column" layout-align="center center">
                                            <label>Stock</label>
                                            <span class="itemData" data-ng-class="{'nostock': !canSell(item)}">{{myInventory(item)|numeraljs:'0.a'}}</span>
                                        </div>

                                        <div flex="25" layout="column" layout-align="center center">
                                            <label>Avg</label>
                                            <span class="itemData" data-ng-class="{'nostock': !canSell(item),'cheap':myInventoryAvgCost(item)<item.marketPrice}">{{myInventoryAvgCost(item)|numeraljs:'$0.a'}}</span>
                                        </div>
                                    </div>

                                </div>

                                <!--Item buy sell extended view-->
                                <div style="padding:4px;" layout="row" data-ng-show="currentItem.id==item.id">
                                    <div flex layout="row" layout-align="space-around center" class="itemExtended">


                                        <md-input-group>
                                            <label>Buy Qty</label>
                                            <md-input ng-model="trans.qtyBuy" type="number" min="1" style="width:80px;"></md-input>
                                        </md-input-group>
                                        <md-button class="md-raised md-primary" data-ng-disabled="!canBuy(item)" data-ng-click="buy(item)">Buy</md-button>

                                        <md-input-group>
                                            <label>Sell Qty</label>
                                            <md-input ng-model="trans.qtySell" type="number" min="1" style="width:80px;"></md-input>
                                        </md-input-group>
                                        <md-button class="md-raised md-warn" data-ng-disabled="!canSell(item)" data-ng-click="sell(item)">Sell</md-button>

                                    </div>

                                </div>
                                <md-divider ng-if="!$last"></md-divider>
                            </div>


                        </md-item-content>
                    </md-item>
                </md-list>

            </div>

        </md-tab>
        <md-tab data-ng-disabled="state.lastDay" id="tab2" aria-controls="tab2-content" md-on-select="tabSelected('travel')" md-active="view=='travel'">
            <md-tab-label>Travel</md-tab-label>

            <div class="tabContent">
                <md-list layout="column" layout-fill>
                    <md-item ng-repeat="city in cities">
                        <md-item-content>
                            <div class="md-tile-content" layout="row">
                                <div flex="33">
                                    <span class="itemName">{{city.name}}</span>
                                </div>

                                <div flex="33">
                                    <div layout="column" layout-align="center center">
                                        <label>Cost</label>
                                        <span class="itemData" data-ng-class="{'expensive':city.ticketPrice>state.player.money}">{{city.ticketPrice|numeraljs:'$0'}}</span>
                                    </div>
                                </div>

                                <div flex="33" layout="row" layout-align="center center">
                                    <md-button class="md-raised md-primary" data-ng-hide="currentCity(city)" data-ng-disabled="!canTravel(city)" data-ng-click="travelTo(city)">Buy Ticket</md-button>
                                    <md-button class="md-raised md-primary" data-ng-show="currentCity(city)" data-ng-click="sleep(city)">Hotel</md-button>
                                </div>
                            </div>

                        </md-item-content>
                    </md-item>
                </md-list>
            </div>
        </md-tab>
        <md-tab id="tab3" aria-controls="tab3-content" md-on-select="tabSelected('journal')" md-active="view=='journal'">
            <md-tab-label>Journal</md-tab-label>
            <div class="tabContent">
                <md-list>
                    <md-item ng-repeat="item in state.player.log">
                        <md-item-content>

                            <div style="padding:8px;" layout="row">
                                <!--Thumbnail and title-->
                                <div layout="column">
                                    <label data-ng-show="item.location">{{item.location.name}}</label>
                                    <span class="journalText">{{item.text}}</span>
                                </div>
                            </div>
                        </md-item-content>
                    </md-item>
                </md-list>
            </div>
        </md-tab>
        <md-tab id="tab4" aria-controls="tab4-content" md-on-select="tabSelected('highscore')" md-active="view=='highscore'">
            <md-tab-label>High Scores</md-tab-label>
            <div class="tabContent">
                <table style="border:0;">
                    <tr><th>Score</th><th>Name</th></tr>
                    <tr data-ng-repeat="score in leaderboard">
                        <td class="itemName">{{score.score|currency}}</td>
                        <td class="itemData">{{score.name}}</td>
                    </tr>
                </table>
            </div>
        </md-tab>
    </md-tabs>


</div>
